$baseLineHeight: 2.5;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'Istok Web', sans-serif");


// colours
$headerBackground: #024d94;
$body: rgba(240, 244, 245, 90%);
$fallbackText: #192025;
$header: #0253a0;
$topBackground: linear-gradient(180deg, rgba(2,56,107,1) 0%, rgba(2,56,107,0.8) 100%);

$link: #005eb8;
$linkActive: #002f5c;
$linkHover: #7c2855;
$linkVisited: #330072;